<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="{% static 'img/fav/favicon.ico' %}" type="image">
  <link rel="apple-touch-icon" sizes="180x180"
        href="{% static 'img/fav/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32"
        href="{% static 'img/fav/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16"
        href="{% static 'img/fav/favicon-16x16.png' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <title>{% block title_name %} {% endblock %}</title>
</head>
<body>
<header>
  <nav class="navbar navbar-light" style="background-color: lightskyblue">
    <div class="container">
      <a class="navbar-brand" href="{% url 'blog:index' %}">
        <img src="{% static 'img/logo.png' %}" width="30" height="30"
             class="d-inline-block align-top" alt="">
        Блогикум
      </a>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/' %}active{% endif %}"
             href="{% url 'blog:index' %}">
            Лента записей
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/pages/about/' %}active{% endif %}"
             href="{% url 'pages:about' %}">
            О проекте
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/pages/rules/' %}active{% endif %}"
             href="{% url 'pages:rules' %}">
            Наши правила
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<main>
  <div class="container py-5">
    {% block content %}
    {% endblock %}
  </div>
</main>
<footer class="border-top text-center py-3">
  <p>© Блогикум</p>
</footer>
</body>
</html>
