{% extends "base.html" %}
{% load static %}
{% block title_name %}
Публикации в категории - {{ category_slug }}
{% endblock %}
{% block content %}
<h1>Публикации в категории - {{ category_slug }}</h1>
<ul>
  {% for post in post_list reversed %}
  <hr>
  <article>
    <li>
      {{ post.location }}
    </li>
    <li>
      {{ post.date }}
    </li>
    <li>
      Категория: <a href="/category/{{ post.category }}">{{ post.category }}</a>
    </li>
    <p>
      {{ post.text|truncatewords:10 }}
    </p>
    <a href="{% url 'blog:post_detail' post.id %}">Читать полный текст</a>
  </article>
  {% endfor %}
</ul>
{% endblock %}